# Generation of SQL code to fill BD

## What should I do?
1. Parse sql creation file
    a. By my hands
    b. Automaticaly
2. For each table generate at least 100 instances 
3. Generate insert statements and save them to sql file

Ds to be used from parsing:

- tableName - str
- list of columns: {str(name): dtype(str)}

In [1]:
!ls

GeneratorOfSQLDataGenerator.ipynb  README.md  tables.sql  tablesUpdate.sql

In [65]:
import re
import names
import string 
import random 
import exrex
import random
from datetime import datetime, timedelta
import numpy as np

In [101]:
file = open("tablesUpdate.sql", "r")
full_text = file.read()
print(full_text)

CREATE TABLE EmployeeAccount (
	password VARCHAR(8) NOT NULL,
	login VARCHAR(64) NOT NULL,
	education VARCHAR(1024) NOT NULL,
	date_of_start_of_career DATE NOT NULL,
	surname VARCHAR(64) NOT NULL,
	name VARCHAR(64) NOT NULL,
	phone VARCHAR(16) NOT NULL,
	email VARCHAR(64) NOT NULL,
	CONSTRAINT pk_EmployeeAccount PRIMARY KEY (
		login
	 )
);

CREATE TABLE HeadOfDepartment (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_HeadOfDepartment PRIMARY KEY (
		SSN
	 )
);

CREATE TABLE TaskOfToDoList (
	priority INTEGER NOT NULL,
	task_description VARCHAR(2048) NOT NULL,
	task_title VARCHAR(512) NOT NULL,
	task_status BOOLEAN NOT NULL,
	login VARCHAR(64) NOT NULL,
	CONSTRAINT pk_TaskOfToDoList PRIMARY KEY (
		task_title
	 ),
	CONSTRAINT fk_TaskOfToDoList_task_title FOREIGN KEY(login)
											REFERENCES EmployeeAccount (login)
);

CREATE TABLE Security (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_Security PRIMARY KEY (
		SSN
	 )
);

-- relationship
CREATE TABLE SendMessage (
	message_text VARCHAR(2048) NOT NULL,
	title VARCHAR(512) NOT NULL,
	file BYTEA NOT NULL
);

CREATE TABLE HR (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_HR PRIMARY KEY (
		SSN
	 )
);

-- relationship
CREATE TABLE AddFire (
	request_status BOOLEAN NOT NULL
);

CREATE TABLE Cleaning (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_Cleaning PRIMARY KEY (
		SSN
	 )
);

CREATE TABLE Noticeboard (
	season VARCHAR(8) NOT NULL,
	year VARCHAR(4) NOT NULL,
	CONSTRAINT pk_Noticeboard PRIMARY KEY (
		season,year
	 )
);

CREATE TABLE Notice (
	title VARCHAR(512) NOT NULL,
	season VARCHAR(8) NOT NULL,
	year VARCHAR(4) NOT NULL,
	content VARCHAR(2048) NOT NULL,
	CONSTRAINT pk_Notice PRIMARY KEY (
		title,season,year
	),
	CONSTRAINT fk_Notice_title FOREIGN KEY(season,year)
							   REFERENCES Noticeboard (season,year)
);

CREATE TABLE StaffsTimetable (
	month VARCHAR(8) NOT NULL,
	year VARCHAR(4) NOT NULL,
	CONSTRAINT pk_StaffsTimetable PRIMARY KEY (
		month,year
	 )
);

-- relationship
CREATE TABLE SendRequest (
	status BOOLEAN NOT NULL,
	purpose VARCHAR(512) NOT NULL,
	request_timestamp TIMESTAMP NOT NULL
);

CREATE TABLE WarehouseManager (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_WarehouseManager PRIMARY KEY (
		SSN
	 )
);

CREATE TABLE Inventory (
	inventory_code INTEGER NOT NULL,
	date_of_purchase DATE NOT NULL,
	price MONEY NOT NULL,
	inventory_name VARCHAR(256) NOT NULL,
	quantity INTEGER NOT NULL,
	CONSTRAINT pk_Inventory PRIMARY KEY (
		inventory_code,inventory_name
	 )
);

CREATE TABLE PatientAccount (
	password VARCHAR(8) NOT NULL,
	surname VARCHAR(64) NOT NULL,
	name VARCHAR(64) NOT NULL,
	phone VARCHAR(16) NOT NULL,
	email VARCHAR(64) NOT NULL,
	medical_insurence_number INTEGER NOT NULL,
	CONSTRAINT pk_PatientAccount PRIMARY KEY (
		medical_insurence_number
	 )
);

-- weak
CREATE TABLE Feedback (
	title VARCHAR(512) NOT NULL,
	content VARCHAR(2048) NOT NULL,
	feedback_timestamp TIMESTAMP NOT NULL,
	medical_insurence_number INTEGER NOT NULL,
	CONSTRAINT pk_Feedback PRIMARY KEY (
		feedback_timestamp
	 ),
	CONSTRAINT fk_Feedback_timestamp FOREIGN KEY(medical_insurence_number)
									 REFERENCES PatientAccount (medical_insurence_number)

);

CREATE TABLE Nurse (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_Nurse PRIMARY KEY (
		SSN
	 )
);

-- relationship
CREATE TABLE SendMedicalReport (
	details VARCHAR(2048) NOT NULL,
	report_timestamp TIMESTAMP NOT NULL,
	complaints VARCHAR(2048) NOT NULL,
	conclusion VARCHAR(2048) NOT NULL
);

CREATE TABLE ITSpecialist (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_ITSpecialist PRIMARY KEY (
		SSN
	 )
);

-- relationship
CREATE TABLE Contacts (
	contacts_timestamp TIMESTAMP NOT NULL,
	message VARCHAR(2048) NOT NULL
);

CREATE TABLE Doctor (
	SSN INTEGER NOT NULL,
	is_on_training BOOLEAN NOT NULL,
	date_of_the_last_training DATE NOT NULL,
	CONSTRAINT pk_Doctor PRIMARY KEY (
		SSN
	 )
);

-- relationship
CREATE TABLE CreateRecipe (
	recommendations VARCHAR(2048) NOT NULL,
	recipe_timestamp TIMESTAMP NOT NULL,
	CONSTRAINT pk_CreateRecipe PRIMARY KEY (
		recipe_timestamp
	 )
);

-- multi attribute
CREATE TABLE Department (
	list_of_rooms INTEGER[],
	department_name VARCHAR(512) NOT NULL,
	CONSTRAINT pk_Department PRIMARY KEY (
		department_name
	 )
);

-- relationship
CREATE TABLE CreateAppointment (
	appointment_timestamp TIMESTAMP NOT NULL,
	room SMALLINT NOT NULL,
	CONSTRAINT pk_CreateAppointment PRIMARY KEY (
		appointment_timestamp
	 )
);

CREATE TABLE PatientTimetable (
	year VARCHAR(4) NOT NULL,
	month VARCHAR(8) NOT NULL,
	CONSTRAINT pk_PatientTimetable PRIMARY KEY (
		year,month
	 )
);


CREATE TABLE Pharmacist (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_Pharmacist PRIMARY KEY (
		SSN
	 )
);

CREATE TABLE Medicine (
	price MONEY NOT NULL,
	quantity INTEGER NOT NULL,
	requires_recipe BOOLEAN NOT NULL,
	medicine_name VARCHAR(256) NOT NULL,
	CONSTRAINT pk_Medicine PRIMARY KEY (
		medicine_name
	 )
);

CREATE TABLE Financial (
	SSN INTEGER NOT NULL,
	CONSTRAINT pk_Financial PRIMARY KEY (
		SSN
	 )
);

CREATE TABLE Bill (
	quantity INTEGER NOT NULL,
	name VARCHAR(256) NOT NULL,
	price MONEY NOT NULL,
	bill_timestamp TIMESTAMP NOT NULL,
	from_id INTEGER NOT NULL,
	to_id INTEGER NOT NULL,
	CONSTRAINT pk_Bill PRIMARY KEY (
		from_id,to_id
	 )
);

-- relationship
CREATE TABLE RequestForMeds (
	medical_name VARCHAR(256) NOT NULL,
	status BOOLEAN NOT NULL,
	meds_request_timestamp TIMESTAMP NOT NULL
);

In [67]:
commands = full_text.split(";")
tables = {}
for command in commands:
    try:
        table_name = command.split("CREATE TABLE")[1].split()[0]
    except:
        continue
        
    comma_sep = command.split(",")

    first_sub_expr = comma_sep[0].split(table_name)[1]
    comma_sep[0] = re.sub(r"^\s+", "", first_sub_expr)[1:] #first brace removed

    table_col = []
    for cs in comma_sep:
        cs = re.sub(r"^\s+", "", cs)
        splited = cs.split()[:2]
        if splited[0] == "CONSTRAINT":
            break
        table_col += [cs.split()[:2]]
    tables[table_name] = table_col

In [99]:
column_names = np.array([])
for key in tables.keys():
    ARR_T = np.array(tables[key])
    append = [arr_T[0] + "\t\t\t\t" + arr_T[1] for arr_T in ARR_T]
    column_names = np.append(column_names, append)
column_names = np.unique(column_names)
print("\n".join(column_names))

SSN				INTEGER
appointment_timestamp				TIMESTAMP
bill_timestamp				TIMESTAMP
complaints				VARCHAR(2048)
conclusion				VARCHAR(2048)
contacts_timestamp				TIMESTAMP
content				VARCHAR(2048)
date_of_purchase				DATE
date_of_start_of_career				DATE
date_of_the_last_training				DATE
department_name				VARCHAR(512)
details				VARCHAR(2048)
education				VARCHAR(1024)
email				VARCHAR(64)
feedback_timestamp				TIMESTAMP
file				BYTEA
from_id				INTEGER
inventory_code				INTEGER
inventory_name				VARCHAR(256)
is_on_training				BOOLEAN
list_of_rooms				INTEGER[]
login				VARCHAR(64)
medical_insurence_number				INTEGER
medical_name				VARCHAR(256)
medicine_name				VARCHAR(256)
meds_request_timestamp				TIMESTAMP
message				VARCHAR(2048)
message_text				VARCHAR(2048)
month				VARCHAR(8)
name				VARCHAR(256)
name				VARCHAR(64)
password				VARCHAR(8)
phone				VARCHAR(16)
price				MONEY
priority				INTEGER
purpose				VARCHAR(512)
quantity				INTEGER
recipe_timestamp				TIMESTAMP
recommendations				VARCHAR(2048)
report_timestamp				TIMESTAMP
request_status				BOOLEAN
request_timestamp				TIMESTAMP
requires_recipe				BOOLEAN
room				SMALLINT
season				VARCHAR(8)
status				BOOLEAN
surname				VARCHAR(64)
task_description				VARCHAR(2048)
task_status				BOOLEAN
task_title				VARCHAR(512)
title				VARCHAR(512)
to_id				INTEGER
year				VARCHAR(4)

In [16]:
# random generators
def getRandomName()
    return names.get_first_name()

def getRandomSurname()
    return names.get_last_name()

# for password, login
def getRandomString(length):
    chars = string.ascii_uppercase + string.digits
    return ''.join(random.choices(chars, k=length)) 

# for email
def getRandomEmail():
    return exrex.getone('[a-z0-9]{7}@[a-z]\.(com|ru)$')

MIN_DOB = "1950-01-01"
MAX_DOB = "1995-01-01"

def getRandomDate(start=MIN_DOB, end=MAX_DOB):
    start, end = datetime.fromisoformat(start), datetime.fromisoformat(end)
    random_date = start + (end - start) * random.random()
    return random_date.date().__str__()

def getRandomDateTime():
    return 0

def getRandomPhone():
    return exrex.getone('[0-9]{11}')

def getValByType():
    return

'Helen Tandy'

In [ ]:
# dictionary of predefined fucions for some freuent column names
MIN_YEAR = 1950
special_types = {"name": getRandomName(), 
                 "surname": getrandomSurname(), 
                 "email":getRandomEmail(), 
                 "phone": getRandomPhone(),
                 "SSN":np.random.randint(10**9, 10**10),# 8 digits long
                 "medical_insurence_number":np.random.randint(10**16, 10**17), #16 digits long
                 "year":MIN_YEAR+np.random.randint(0, 2019-MIN_YEAR), 
                 "season":np.random.randint(1, 5), 
                 "month":np.random.randint(1, 13),
                }
# dictionary for includes
include_types = {"DATE":getRandomDate(), 
                 "TIMESTAMP":getRandomDateTime(), 
                 "BOOLEAN":random.randint(0, 1), 
                 "MONEY": None
                }

### What should I generate

```sql
INSERT INTO table(column1, column2)
VALUES (value1, value2);
```

In [194]:
def appendInsert(tableName, columns, values):
    str_columns, str_rows = ",".join(columns), ",".join(values)
    MAIN_STR += 'NSERT INTO {}({})\nVALUES ({});\n'.format(tableName, columns, values)

## References

- [names generator](https://treyhunner.com/2013/02/random-name-generator/)
- [lib for regexp generator](https://github.com/asciimoo/exrex)
- [datetime](https://docs.python.org/3/library/datetime.html)
- [random date generation](https://cmsdk.com/python/generate-a-random-date-between-two-other-dates.html)